.post-article {
  padding-top: 5rem;
  margin-bottom: 2.5rem;

  body:has(.rich-header) & {
    padding-top: 3rem;

    @include screen(sm) {
      padding-top: 2rem;
    }
  };

  @include screen(sm) {
    padding-top: 4rem;
  }
}