// $themeColors: (
//   accent-color: #047857,
//   background-color: #73d3d3,
//   dark: #4a4a4a,
//   light: #d9fbfb,
// );

// :root {
//   --accent: #047857;
//   --background-color: #73d3d3;
//   --dark: #4a4a4a;
//   --light: #d9fbfb;
// }