:root {
  --max-w-container: 1280px;
  --main-paddings: 1rem;
  --letter-spacing: -0.02em;
  --font-family-primary: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}