body {
  background-color: #73d3d3;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-primary);
  font-weight: 400;
  line-height: 1.6;
}



@mixin main-container {
  max-width: var(--max-w-container);
  margin: 0 auto;
  width: 100%;
  padding-left: var(--main-paddings);
  padding-right: var(--main-paddings);
}

.main-container {
  @include main-container;
}

.post-article {
  padding-top: 5rem;
  margin-bottom: 2.5rem;
}

@mixin full-w {
  width: 100vw;
  margin-left: calc(50vw * -1) !important;
  position: relative;
  left: 50%;
}

@mixin full-w-reset {
  width: unset;
  margin-left: unset !important;
  position: static;
  left: unset;
}

.full-width {
  @include full-w;
}

.full-width-reset {
  @include full-w-reset;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-heading);
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 1rem 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin: 0 0 1rem 0;
}
