@import 'normalize';
@import 'variables';
@import 'utils';
@import 'color';
@import 'fonts';
@import 'main.scss';
@import 'typography';

// Theme
@import 'theme/colors';
@import 'theme/icons';

// Components
@import 'components/navigation';
@import 'components/rich-header';
@import 'components/header';
@import 'components/service-card';
@import 'components/faq';
@import 'components/footer';
@import 'components/block-logo';
@import 'components/projects-list';
@import 'components/project-card';
@import 'components/post-article';

// Blocks
@import 'blocks/columns';
@import 'blocks/gallery';