.faq {
  details {
    background-color: white();
    overflow: hidden;
    border-radius: 8px;

    &[open] {
      summary {
        background-color: black(5);

        &::after {
         transform: rotate(180deg);
        }
      }
    }

    summary {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;

      &::marker {
        content: "";
      }

      &::after {
        content: "";
        width: 1.5rem;
        height: 1.5rem;
        display: block;
        background: $arrow-down;
      }
    }

    & + details {
      margin-top: 0.5rem;
    }

    p {
      padding: 1rem;
      margin-top: 0;
      // margin-top: 1rem;
      // padding-top: 1rem;
      // border-top: 1px solid black(20);
    }
  }
}