.header {
  position: fixed;
  top: var(--wp-admin--admin-bar--height, 0);
  left: 0;
  right: 0;
  background-color: hsla(0,0%,100%,.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 10;
  background-color: color(green, 500, 20);

  .custom-logo {
    width: 4rem;
    height: 4rem;
  }

  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__link {
      text-decoration: none;
      font-weight: 700;
      color: white();

      span {
        text-shadow: 0 1px 0 rgba(0,0,0,.4);
        font-size: 1.875rem;
      }

      .accent {
        color: color(green, 500);
      }
    }

    .contacts {
      display: flex;
      align-items: center;
      gap: 8px;
      
      a {
        text-decoration: none;
        color: white();
      }
    }

    @include main-container;
    .contacts {
      img {
        width: 1rem;
        height: 1rem;
      }
    }

    .primary-menu {
      display: flex;
      list-style-type: none;
      text-decoration: none;
      margin: 0;
      padding: 0;
    }
  }
}
