.project-card {
  position: relative;
  height: 25rem;

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 150%
    );
  } 

  &__content {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    z-index: 1;

    a {
      text-decoration: none;
      @include heading(m);
      color: white();
      border-bottom: 1px solid white(50);
      padding-bottom: 1rem;
      display: block;
      margin-bottom: 1rem;
    }

    
  }

  &__type {
    display: flex;
    gap: 0.5rem;

    &-icon {
      filter: brightness(0) invert(1);
    }

    &-name {
      color: white();
    }
  }
}