.project-card {
  position: relative;
  height: 25rem; 
  display: flex;
  align-items: end;
  overflow: hidden;
  
  

  &:hover {
    .project-card__image {
      transform: scale(1.05);
    }

    .project-card__content {
      a {
        color: color(green, 100);
      }
    }
  }

  &__image {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: transform 250ms ease;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 150%
    );
  } 

  &__content {
    z-index: 2;
    padding: 1.25rem;
    padding-bottom: 2rem;
    align-self: flex-end;

    a {
      text-decoration: none;
      @include heading(m);
      color: white();
      display: block;
      transition: color 250ms ease;
    }
  }

  &__type {
    display: flex;
    gap: 0.5rem;

    &-icon {
      filter: brightness(0) invert(1);
    }

    &-name {
      color: white();
    }
  }
}