.rich-header {
  background-image: url("/wp-content/themes/arhikad/assets/images/arhicadnv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;  
  @include full-w;
  z-index: -1;
  display: flex;
  align-items: end;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  &__container {
    display: flex;
    max-width: var(--max-w-container);
    margin: 0 auto;
    width: 100%;
    padding-left: var(--main-paddings);
    padding-right: var(--main-paddings);
  }

  &__content {
    max-width: 43.75rem;
    color: white;
    z-index: 10;
    padding-bottom: 3rem;
    
    h1 {
      font-size: 4.5rem;
      line-height: 1;
      margin-bottom: 2rem;
    }
  }
}
